<!-- <router-outlet /> -->
<div class="body-simulator">
  <nav>
    <span>Πρόγραμμα Σπουδών Πληροφορικής 2023-2024</span>
  </nav>

  <main>

    <div class="filter-container">

      <div class="form-check" (click)="updateView()">
        <input type="checkbox" class="form-check-input" id="viewSelectedCourses" [(ngModel)]="viewSelectedCourses">
        <label for="viewSelectedCourse" class="form-check-label">Προβολή Επιλεγμένων</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="viewCompleted" [(ngModel)]="viewCompleted">
        <label for="viewCompleted" class="form-check-label">Προβολή Ολοκληρωμένων</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="viewEcts" [(ngModel)]="viewEcts">
        <label for="viewEcts" class="form-check-label">Προβολή ECTS</label>
      </div>
      
      <select class="form-select" aria-label="Default select example" [(ngModel)]="sorting">
        <option value="0">Εξάμηνα</option>
        <option value="1">Χειμερινό / Εαρινό</option>
        <option value="2">Κύκλοι Σπουδών</option>
      </select>

    </div>

    <!-- <p style="color: white;">Sorting: {{this.sorting}}</p> -->

    <div class="courses-container" *ngFor="let section of filterService.filters[this.sorting].sections" [id]="'t' + section.filterValue" [class.section-invisible]="checkTableChildren('t' + section.filterValue)">
      <h4 class="container-title">{{ section.name }} <ng-container *ngIf="this.sorting==2"><span *ngIf="getModuleCourses(section.filterValue) as amount" [class.course-pass]="amount.length >= 5">{{amount.length}} / 5</span></ng-container></h4>
      <table class="table">
        <tr>
          <th></th>
          <th>ID</th>
          <th *ngIf="viewEcts">ECTS</th>
          <th *ngIf="this.sorting != 0">Εξ.</th>
          <th *ngIf="this.sorting == 2">Εποχή</th>
          <th>Βαθμός</th>
          <th>Τίτλος</th>
          <th>Κύκλος Σπουδών</th>
          <!-- <th>Προαπαιτούμενα</th> -->
        </tr>
        <ng-container *ngFor="let course of getValues(this.dataService.data)">
          <ng-container *ngIf="viewCompleted == true || getCourseGrade('c'+course.id) < 5">
            <ng-container *ngIf="viewSelectedCourses == false || isCourseSelected('c'+course.id)">
              <tr *ngIf="section.filterFunction(section.filterValue, course)" style="color: white">
                <td class="minimal-column"><input type="checkbox" class="form-check-input" [checked]="isCourseSelected('c' + course.id)" (click)="selectCourse('c'+course.id)" readonly></td>
                <td class="minimal-column">{{course.id}}</td>
                <td class="ects minimal-column" *ngIf="viewEcts">{{course.ects}}</td>
                <td class="minimal-column" *ngIf="this.sorting != 0">{{course.semester}}</td>
                <td class="minimal-column" *ngIf="this.sorting == 2">{{course.semesterType == "summer" ? "Εαρινό" : "Χειμερινό"}}</td>
                <td class="grade minimal-column" [class.no-grade-course]="getCourseGrade('c'+course.id) == 0" (click)="openGradeModal('c'+course.id)">{{getCourseGrade('c'+course.id) != 0 ? dataService.records['c'+course.id].grade : "+"}}</td>
                <td [ngbTooltip]="isMeetingRequirements('c'+course.id) == true ? null : requirementsTooltipTemplate" [tooltipContext]="{courses: getCourseRequirements('c'+course.id)}" container="body" placement="left" (click)="openCourseOffcanvas('c'+course.id)" [class.course-pass]="getCourseGrade('c'+course.id) >= 5" [class.requirements-warning]="!isMeetingRequirements('c'+course.id)">{{course.title}}</td>
                <td class="minimal-column module-column" [ngbTooltip]="course.category != null ? moduleTooltipTemplate : null" [tooltipContext]="{modules: getModuleNames(course.category)}" container="body">
                  <ng-container *ngIf="course.category != null">
                    <span *ngFor="let category of course.category" class="module-button" [ngClass]="{'module-button-active': this.isCategorySelected(category, 'c'+course.id)}" (click)="this.selectCategory(category, 'c'+course.id)">{{category}}</span>
                  </ng-container>
                  <ng-container *ngIf="course.category == null || course.category == []">Κορμός</ng-container>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </table>

    </div>


  </main>

  <!-- Vertically centered modal -->
  <ng-template #gradeModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Καταγραφή Βαθμολογίας</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <p>{{gradeModalConfiguration.courseName}}</p>
          <label for="gradeRange" class="form-label">Βαθμολογία: {{gradeModalConfiguration.courseGrade}}</label>
          <input type="range" class="form-range" min="0" max="10" step="0.5" id="gradeRange" [(ngModel)]="gradeModalConfiguration.courseGrade">
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button> -->
          <button type="button" class="btn btn-primary" (click)="setCourseGrade(gradeModalConfiguration.courseId, gradeModalConfiguration.courseGrade); modal.dismiss('Cross click')">Καταχώρηση</button>
        </div>
  </ng-template>

  <ng-template let-conf="conf" #courseOffcanvas>
    <ng-container *ngIf="courseOffcanvasConfiguration as conf">
      <div class="offcanvas-header">
        <h5>{{conf.course.title}}</h5>
      </div>
      <div class="offcanvas-body">
        <p>Εξάμηνο: {{conf.course.semester}} <span>({{conf.course.semesterType}})</span></p>
        <p>{{conf.course.type === "obligatory" ? "Υποχρεωτικό" : conf.course.type=="obligatory-selective" ? "Υποχρεωτικό Επιλογής" : "Επιλογής"}}</p>
        <!-- <p>Welcome to the offcanvas! {{course.title}}</p> -->
        <p (click)="openGradeModal('c'+conf.course.id)">Βαθμός: {{getCourseGrade('c'+conf.course.id) != 0 ? dataService.records['c'+conf.course.id].grade : "+"}}</p>

        <!-- Requirements Table -->
        <table *ngIf="getCourseRequirements(conf.courseId) as requirements" class="table">
          <tr>
            <td colspan="2" class="text-center">Προαπαιτούμενα</td>
          </tr>
          <tr>
            <th>ID</th>
            <th>Τίτλος</th>
          </tr>
          <tr *ngFor="let requirement of requirements">
            <td>{{requirement.id}}</td>
            <td [ngbTooltip]="isMeetingRequirements('c'+requirement.id) == true ? null : requirementsTooltipTemplate" [tooltipContext]="{courses: getCourseRequirements('c'+requirement.id)}" container="body" [class.course-pass]="getCourseGrade('c'+requirement.id) >= 5" [class.requirements-warning]="!isMeetingRequirements('c'+requirement.id)">{{requirement.title}}</td>
          </tr>
        </table>

        <!-- Needed by Table -->
        <table *ngIf="getCoursesNeededBy(conf.courseId) as dependencies" class="table">
          <tr>
            <td colspan="3" class="text-center">Εξαρτώμενα Μαθήματα</td>
          </tr>
          <tr>
            <th>ID</th>
            <th>Εξ.</th>
            <th>Τίτλος</th>
          </tr>
          <tr *ngFor="let dependency of dependencies">
            <td>{{dependency.id}}</td>
            <td>{{dependency.semester}}</td>
            <td [ngbTooltip]="isMeetingRequirements('c'+dependency.id) == true ? null : requirementsTooltipTemplate" [tooltipContext]="{courses: getCourseRequirements('c'+dependency.id)}" container="body" [class.course-pass]="getCourseGrade('c'+dependency.id) >= 5" [class.requirements-warning]="!isMeetingRequirements('c'+dependency.id)">{{dependency.title}}</td>
          </tr>
        </table>
      </div>
    </ng-container>
  </ng-template>

  <div *ngIf="viewEcts" class="ects-counter-container" [ngbPopover]="ectsPopoverTemplate" popoverClass="ects-popover" popoverTitle="Μετρητής ECTS" triggers="click" [autoClose]="'outside'">
    <span *ngIf="ectsPopover.option != 0" [class.ects-limit]="getTotalEcts() > ectsPopover.ects[ectsPopover.option-1]">ECTS: {{getTotalEcts()}} / {{ectsPopover.ects[ectsPopover.option-1]}}</span>
    <span *ngIf="ectsPopover.option == 0">Επιλέξτε έτος σπουδών</span>
  </div>

  <ng-template #moduleTooltipTemplate let-modules="modules">
    <ng-container *ngIf="modules != null">
      <ng-container *ngFor="let module of modules">{{module}}<br></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #requirementsTooltipTemplate let-courses="courses">
    <p *ngFor="let course of courses">{{course.id}} {{course.title}}</p>
  </ng-template>

  <ng-template #ectsPopoverTemplate>
    Εργαλείο για την μέτρηση ECTS που επιτρέπεται να δηλωθεί ανα εξάμηνο, με βάση το έτος σπουδών.
    <div style="display: flex; justify-content: space-between;">
      <div>
        <input type="radio" id="option1" name="ectsOption" value="1" [(ngModel)]="ectsPopover.option">
        <label for="option1">1</label>
      </div>
      <div>
        <input type="radio" id="option2" name="ectsOption" value="2" [(ngModel)]="ectsPopover.option">
        <label for="option2">2</label>
      </div>
      <div>
        <input type="radio" id="option3" name="ectsOption" value="3" [(ngModel)]="ectsPopover.option">
        <label for="option3">3</label>
      </div>
      <div>
        <input type="radio" id="option4" name="ectsOption" value="4" [(ngModel)]="ectsPopover.option">
        <label for="option4">4+</label>
      </div>
    </div>
    <!-- Year / ECTS <br>
    1 -> 38 ECTS<br>
    2 -> 46 ECTS<br>
    3 -> 54 ECTS<br>
    4+ -> 60 ECTS<br> -->
  </ng-template>
</div>