<!-- <router-outlet /> -->
<div class="body-simulator">
  <nav>
    <span>Πρόγραμμα Σπουδών Πληροφορικής 2023-2024</span>
  </nav>

  <main>

    <div class="filter-container">

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="viewSelectedCourses" [(ngModel)]="viewSelectedCourses">
        <label for="viewSelectedCourse" class="form-check-label">Προβολή Επιλεγμένων</label>
      </div>
      
      <select class="form-select" aria-label="Default select example" [(ngModel)]="sorting">
        <option value="0">Εξάμηνα</option>
        <option value="1">Χειμερινό / Εαρινό</option>
        <option value="2">Κύκλοι Σπουδών</option>
        <option value="3">Επιλεγμένοι Κύκλοι Σπουδών</option>
      </select>

    </div>

    <p style="color: white;">Sorting: {{this.sorting}}</p>

    <div class="courses-container" *ngFor="let section of filterService.filters[this.sorting].sections">
      <p class="container-title">{{ section.name }}</p>
      <table class="table" data-bs-theme="dark">
        <tr>
          <th></th>
          <th>ID</th>
          <th *ngIf="this.sorting != 0">Εξ.</th>
          <th *ngIf="this.sorting == 2">Εποχή</th>
          <th>Βαθμός</th>
          <th>Τίτλος</th>
          <th>Κύκλος Σπουδών</th>
          <!-- <th>Προαπαιτούμενα</th> -->
        </tr>
        <ng-container *ngFor="let course of getValues(this.dataService.data)">
          <ng-container *ngIf="viewSelectedCourses == false || isCourseSelected('c'+course.id)">
            <tr *ngIf="section.filterFunction(section.filterValue, course)" style="color: white">
              <td><input type="checkbox" class="form-check-input" [checked]="isCourseSelected('c' + course.id)" (click)="selectCourse('c'+course.id)" readonly></td>
              <td>{{course.id}}</td>
              <td *ngIf="this.sorting != 0">{{course.semester}}</td>
              <td *ngIf="this.sorting == 2">{{course.semesterType == "summer" ? "Εαρινό" : "Χειμερινό"}}</td>
              <td (click)="openGradeModal('c'+course.id)">{{getCourseGrade('c'+course.id) != 0 ? dataService.records['c'+course.id].grade : "+"}}</td>
              <td [class.course-pass]="getCourseGrade('c'+course.id) >= 5" [class.requirements-warning]="!isMeetingRequirements('c'+course.id)">{{course.title}}</td>
              <td [ngbTooltip]="getModuleNames(course.category)">
                <ng-container *ngIf="course.category != null">
                  <span *ngFor="let category of course.category" class="module-button" [ngClass]="{'module-button-active': this.isCategorySelected(category, 'c'+course.id)}" (click)="this.selectCategory(category, 'c'+course.id)">{{category}}</span>
                </ng-container>
                <ng-container *ngIf="course.category == null || course.category == []">Κορμός</ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>

    </div>


  </main>

  <!-- Vertically centered modal -->
  <ng-template #gradeModal let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Καταγραφή Βαθμολογίας</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <p>{{gradeModalConfiguration.courseName}}</p>
          <label for="gradeRange" class="form-label">Βαθμολογία: {{gradeModalConfiguration.courseGrade}}</label>
          <input type="range" class="form-range" min="0" max="10" step="0.5" id="gradeRange" [(ngModel)]="gradeModalConfiguration.courseGrade">
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button> -->
          <button type="button" class="btn btn-primary" (click)="setCourseGrade(gradeModalConfiguration.courseId, gradeModalConfiguration.courseGrade); modal.dismiss('Cross click')">Καταχώρηση</button>
        </div>
  </ng-template>
</div>