.body-simulator {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: var(--bs-primary);
    color: white;
    padding: 0.75em;
}

main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    padding: 1em;
}

.ects-counter-container {
    background-color: black;
    color: var(--bs-warning);
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0.75rem;
    border: 1px solid #392e30;
}

.ects-limit {
    color: var(--bs-danger);
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-container > select {
    max-width: 18em;
}

table {
    border-collapse: collapse;
    border: 0.5px solid #392e30;
}

th {
    background-color: #261e1c;
}

th, td {
    color: white;
    padding: 0.8em;
    border-top: 0.5px solid #392e30;
    border-bottom: 0.5px solid #392e30;
}

.grade {
    text-align: center;
    transition: 0.25s;
}

.grade:hover {
    cursor:pointer;
    color: var(--bs-primary);
    transform: scale(1.1);
}

.no-grade-course {
    opacity: 0.4;
}

tr:hover .no-grade-course, .no-grade-course:hover {
    opacity: 1;
    transform: scale(1.4);
}



.requirements-warning {
    color: var(--bs-warning);
}

.course-pass {
    color: var(--bs-success);
}

.module-button {
    background-color: var(--bs-background);
    color: grey;
    outline: 2px solid var(--bs-primary);
    outline-offset: 0;
    border-radius: 100%;
    padding: 0.5em 0.75em;
    margin: 0.5em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.module-button-active {
    background-color: #261e1c;
    color: white;
}

[data-bs-theme="dark"] {
    main {
        background-color: var(--bs-dark);
    }

    label {
        color: white;
    }
}