/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    --bs-primary: #762124;
    --bs-primary-rgb: 118, 33, 36;
}

body, html, app-root {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

.tooltip {
    background-color: var(--bs-primary) !important;
    color: white;
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip-inner {
    background-color: var(--bs-primary) !important;
    color: white;
}

.tooltip-arrow {
    background-color: var(--bs-primary) !important;
    bottom: 0 !important;
    display: none !important;
}